# Объектные и бинарные файлы
*.o
*.ko
*.obj
*.exe
*.out
*.a
*.so
*.dll

# Файлы сборки/зависимостей
*.d
*.su
*.idb
*.pdb

# Логи и временные файлы
*.log
*.tmp
*.swp
*~

# Специфичные для IDE
.vscode/
.idea/
